@import url('https://fonts.googleapis.com/css2? family= Barlow:wght@300 & family= IM+Fell+English+SC & family= Jockey+One & display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Jockey one', sans-serif;
}
html {
  scroll-behavior: smooth; 
}

header {
  background-color: #24252a;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.cabecario-logo {
  display: flex;
  align-items: center;
  width: 5rem;
}

.logo h1 {
  color: #fff;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.11rem;
  color: #fff;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link:hover {
  color: #fff;
  font-weight: bold;
  font-size: 1.20rem;
  border: 2px solid #00d2df;
  border-radius: 50px;
  padding: 3px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-button {
  margin-left: 45px;
  background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 35px;
	width: 100px;
	font: bold 15px arial,sans-serif;
	text-shadow: none;
}

.nav-button a {
  text-decoration: none;
  text-align: center;
  color: #24252a;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 15px;
}

.sejam-bemvindos {
background: rgba(0, 0, 0, 0.062);
box-shadow: 0px 3px 10px #05d4df;
padding: 90px;
border: solid 1px #00d2df;

}

.sejam-bem-vindos-titulo {
  padding-top: 180px;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Jockey';
  padding-bottom: 20px;
  color:  rgba(0, 0, 0, 0.596);
}

.sejam-bem-vindos-texto {
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 95px;
  font-family: 'Kalam', Courier, monospace;
  color: #000;
  font-size: 20px;

}

.titulo-slide {
    text-align: center;
    margin: 1em 0;
    font-family: 'Jockey';
    color: #006494;
  }

  .slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 100px;
  }

  .slides {
    width: 400%;
    height: 400px;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
  }

  .slide img {
    width: 800px;
  }

  .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover {
    background-color: #fff;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -25%;
  }

  #radio3:checked ~ .first{
    margin-left: -50%;
  }

  #radio4:checked ~ .first{
    margin-left: -75%;
  }

  #radio5:checked ~ .first{
    margin-left: -100%;
  }

.navigation-auto div {
  border: 2px solid #006494;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
  
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #00d2df;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #00d2df;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #00d2df;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #00d2df;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: #00d2df;
}


.containerMovimento {
    font-family: 'Inter', sans-serif;
    
}

.containerMovimento h1 {
    color: #CB86F3;
    text-align: center;
    font-size: 35px;
    padding: 80px 0px 30px 0px;
}

#Movimento {
  background-image: url(img-igreja/culto.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
  padding: 40px;
}

.Movimento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.0em;     
}

#Movimento h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Kalam';
 text-shadow: solid 1px black;
 padding-top: 70px;
}

#Movimento h1 {
  color: #00d2df;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  font-family: 'Kalam';
  text-shadow: solid 1px black;
  padding-top: 20px;
}

.areaMovimento{
  border: 1px solid #00d2df;
  width: 440px;
  height: 340px;
  margin: 10px;
  color: white;
  text-align: center;    
  position: relative;
}

.areaMovimento h2 {
    padding: 10px;
    margin-top: 90px; 
}

.areaMovimento p {
    padding: 15px;
}

.imageMovimento {    
    display: block;
    width: 100%;
    height: 340px; 
}


.textoMovimento {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.842);
  opacity: 0;
  transition: opacity 0.25s;
}

.textoMovimento:hover {
  opacity: 1;
}

.textoMovimento-h2 {
  font-family: 'Jockey';
}

.btn {
   border: none;
   background-color: #006494;
   padding: 10px 18px;
   border-radius: 20px;
   margin-top: 40px;
}

.btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Kalam';
    font-size: 17px;
}

.btn a:hover {
    transform: scale(1.1);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #05d4df;
    border-radius: 22px;
    padding: 8px;
} 
.fotos {
  margin: 40px;
  border: 0.5px solid black;
  border-radius: 20px;
  background:rgba(0, 0, 0, 0.753);
  box-shadow: 0px 3px 10px #006494;
  box-shadow: 0px 3px 10px #006494;
  
}

.titulo-fotos {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: 'Jockey';
  overflow: hidden;
}

.subtitulo-fotos {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.63);
  padding-bottom: 10px;
  font-weight: 400;
}

.janela-pastores {
  margin-top: 40px;
  padding-left: 30px;
  display: flex;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.gallery-items{
  width: 240px;
  height: 240px;
  background-image: linear-gradient(#fff, rgb(26, 24, 24));
  box-shadow: 0px 3px 10px #006494;
  flex-grow: 1;
  transition: transform .5s linear;
}
.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover{
  transform: scale(1.3);
}

.reunioes {
 background-color: #24252a;
 box-shadow: 0px 3px 10px #464646;
 border: 1px solid black;
 border-radius: 15px;
 padding: 2rem;
 text-align: center;
 width: 560px;
 margin: 8rem;
 margin-left: auto;
 margin-right: auto;
 width: 556px;
}

.titulo-reunioes {
  font-size: 1.5rem;
  font-family: "Jockey";
  font-weight: bolder;
  color: #fff;
}

.texto-reunioes {
 text-align: center;
 padding: 1rem;
 font-family: Arial, Helvetica, sans-serif;
 color: #fff;
}


.section-5 {
  border: 8px solid rgba(0, 0, 0, 0.089);
  margin: 11rem;
}

.section-5 h1 {
  align-items: center;
  text-align: left;
  color: #000;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-5 .map {
  width: 800px;
  flex: 1.45rem;
  object-fit: cover;
}

.agenda-folego {
  background-color: #46464617;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3vw;
}

.titulo-agenda {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Jockey";
  color: #616165;
}

.agenda-fotos {
  padding: 6rem;
}

.sobre-nos {
  margin: 90px;
  padding: 15px 0 15px 0 ;
  background: rgba(0, 0, 0, 0.582);
  border-radius: 15px;
  display: block; 
}

.texto01 {
 margin: 15px;
 padding: 15px;
 color: rgba(0, 0, 0, 0.596);
}

.titulo-sobrenos {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.596);
  font-weight: bold;
  padding-top: 30px;
}

.subtitulo-sobrenos {
  text-align: center;
  font-family: 'Jockey';
  margin: 20px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.596);
}

.texto-sobrenos {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding-bottom: 10px;
  padding-right: 280px;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.596);
}

.texto03 {
  float: right;
  text-align: right;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.596);
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ender {
 float: right;
 text-align: right;
 font-size: 12px;
 line-height: 140%; 
 margin-right: 10px;
 padding: 40px;
 font-weight: 400;
 color: rgba(0, 0, 0, 0.596);
 

}

.ender-titulo {
  padding-top: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.ender-texto {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.596);
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
}

.email {
  text-align: center;
  font-size: 15px;
  padding-right: 52px;
  text-decoration: none;
}

.ender a:hover {
  color: #fff;
  transform: scale(1.2s);
  cursor: pointer;
  font-size: 18px;
  padding-right: 35px;
}
.ligados {
  background-image: url(./img-igreja/culto-2.webp);
  background-position: center center;
  background-size: 100%;
  padding: 40px;
  height: 400px;
}

.Newsletter {
  text-align: center;
  font-size: 2rem;
  color: #05d4df;
  margin-top: 9rem;
  text-shadow: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Informados {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  font-family: "Jockey";
  text-shadow: 1px solid #000;
}

.cabecario-logo-final {
  width: 130px;
  padding: 2rem;
  position: relative; 
  padding-right: 15px;
  padding-left: 15px;
}

.nav-final {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
  margin: 0 15px;
}

.nav-item-final {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav-final ul {
  display: inline;
  justify-content: center;
  list-style: none;
}

.nav-final a {
  text-decoration: none;
  font-size: 1.15rem;
  color: #24252a;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-final a:hover {
  color: #24252a;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #00d2df;
  border-radius: 50px;
  padding: 3px;
}


.botao-doacao {
  margin-left: 45px;
  background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 45px;
	width: 100px;
	font: bold 15px arial,sans-serif;
	text-shadow: none;
}

.doacao-h1 {
text-align: center;
font-size: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
}

.doacao-texto {
text-align: center;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 5px;
justify-content: space-around;
}
section#redes-sociais img {
  float: right;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
  box-sizing: content-box;
}

section#redes-sociais img:hover {
  border:  2px solid rgba(255, 255, 255, 0.767);
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
  transition: transform .5s;
}

footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-style: italic;
}

